[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
colorama = ">=0.4.3"
libsast = ">=1.4.4"
sarif-om = ">=1.0.4"
jschema-to-python = ">=1.2.3"
tabulate = ">=0.8.8"

[requires]
python_version = "3.9"
