attrs==21.4.0
boltons==21.0.0
bracex==2.4
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-option-group==0.5.6
colorama==0.4.6
defusedxml==0.7.1
face==22.0.0
glom==22.1.0
idna==3.6
jschema-to-python==1.2.3
jsonpickle==3.0.3
jsonschema==4.17.3
libsast==2.0.3
packaging==21.3
pbr==6.0.0
peewee==3.17.1
pyparsing==3.1.2
pyrsistent==0.20.0
python-lsp-jsonrpc==1.0.0
PyYAML==6.0.1
requests==2.31.0
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
sarif-om==1.0.4
semgrep==0.117.0
tabulate==0.9.0
tomli==2.0.1
tqdm==4.66.2
typing_extensions==4.10.0
ujson==5.9.0
urllib3==1.26.18
wcmatch==8.5.1
xmltodict==0.13.0
