attrs==21.4.0
boltons==21.0.0
bracex==2.3.post1
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
click-option-group==0.5.3
colorama==0.4.5
defusedxml==0.7.1
face==20.1.1
glom==22.1.0
idna==3.3
jschema-to-python==1.2.3
jsonpickle==2.2.0
jsonschema==4.7.2
libsast==1.5.1
packaging==21.3
pbr==5.9.0
peewee==3.15.1
pyparsing==3.0.9
pyrsistent==0.18.1
python-lsp-jsonrpc==1.0.0
PyYAML==6.0
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
sarif-om==1.0.4
semgrep==0.104.0
tabulate==0.8.10
tqdm==4.64.0
typing_extensions==4.3.0
ujson==5.4.0
urllib3==1.26.10
wcmatch==8.4
